<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.todo.persistance.TodoDao">

	<select id="selectAll" resultType="TodoVO">
		SELECT * FROM tbl_todoList
	</select>

	<select id="findById" resultType="TodoVO">
		SELECT * FROM tbl_todoList
		WHERE seq=#{seq}
	</select>

	<select id="findByUserName" resultType="TodoVO">
		SELECT * FROM tbl_todoList
		WHERE username = #{username}
		ORDER BY #{s_date} + #{s_time}
	</select>

	<insert id="insert" parameterType="TodoVO">
		INSERT INTO tbl_todoList (
			username,
			s_date,
			s_time,
			e_date,
			e_time,
			content,
			comp
		) VALUES (
			#{username},
			#{s_date},
			#{s_time},
			#{e_date},
			#{e_time},
			#{content},
			#{comp}
		)
	</insert>

	<update id="content_update" parameterType="TodoVO">
 		UPDATE tbl_todoList SET
 			content = #{content}
 		WHERE seq=#{seq}
	</update>
	
	<update id="comp_update" parameterType="TodoVO">
		UPDATE tbl_todoList SET
			comp = #{comp},
			e_date = #{e_date},
			e_time = #{e_time}
		WHERE seq=#{seq}	
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_todoList
		WHERE seq = #{seq}
	</delete>

	<select id="create_todo_table">
		CREATE TABLE IF NOT EXISTS tbl_todoList (
			seq BIGINT AUTO_INCREMENT PRIMARY KEY,
			username VARCHAR(20) NOT NULL,
			s_date VARCHAR(20) NOT NULL,
			s_time VARCHAR(20) NOT NULL,
			e_date VARCHAR(20) ,
			e_time VARCHAR(20) ,
			content VARCHAR(2000) NOT NULL,
			comp BOOLEAN NOT NULL
		)
	</select>


</mapper> 